body {
  background-color: white;
}

body, h1, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
  color: darkCyan;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}